@import '../variables/colors.scss';

.username {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    position: relative;
    top: 2px;
}

a {
    color: $white;
    text-decoration: none;
    margin: 0 5px;
    line-height: 12px;

    &:hover, &.active {
        color: $grey1;
    }
}