$white: #fff;
$blue: #6f81d8;
$light-blue: #d3d6e2;
$light-blue1: #2e78d4;
$light-blue2: #b8bcce;
$light-blue3: rgba(111, 129, 216, 0.9);
$blue5: #193456;
$blue6: rgba(18, 38, 63, 0.5);
$blue7: rgba(21, 46, 77, 0.5);
$blue8: #1f5598;
$grey: #ccc;
$grey1: #d6d6d6;
$grey2: #e4e4e4;
$grey3: #dedede;
$grey4: #898a90;
$grey5: #616265;
$red: #e63757;
$green:#008000;